.btn {
  background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
  border-radius: 7px;
  padding: 15px 38px 16px 38px;
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  }
.btn--theme--red {
}