.header-section{
	margin-bottom: 220px;
}
.header-top__section {
	
	background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
	
}

.header-top__contacts {
	display: flex;
	justify-content: space-between;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	color:#FFFFFF;
	text-align: center;
	padding-left: 26px;
	flex-direction: row;
	align-items: center;
	padding: 20px 10px 20px 10px;
	
}

.header-top__city{
	position: relative;
	&::after{
		content:url("../img/icons/icons.svg#map_point");
		position: absolute;
		width: 40px;
		right: 100%;
	}
}

.header-top__calls{
	@include tablets{
		display: none;
	}
}


.header-top__instagram {
	width: 98px;
	text-align-last: left;
	font-size: 14px;
	padding-top: 0;
	position: relative;
	&::after{
		content:url("../img/icons/icons.svg#inst-wthite");
		position: absolute;
		width: 60px;
		right: 100%;
		top: 12%;
	}
}


.header-instagram {
	
	&_link {
		font-size: 14px;
	}
}

.header-navbar {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
}
.header-logo {
	width: 220px;
	height: 60px;
	display: block;
	&_link {
	}

	&_img {
		min-width: 100%;
	}
}
.header-menu {
	display: flex;
	justify-content: center;
	align-items: flex-end;

	&_list {
		margin-right: 25px;
		color:#737373;
		&:last-child{
			margin-right: 0px;
		}
	}
}


.header__svg{
	position: relative;
	&::after{
		content: url("../img/icons/icons.svg#Phone");
		position: absolute;
		width: 30px;
		left: -15%;
	}
}
