.section-slider {
  min-height: 200px;

  background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
}
.slider {

		&__list {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      @include tablets{
        flex-direction: column;
        opacity: 1;
     }
     
		}

		&__item {
      
      width: 600px;
      background: #FFFFFF;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
      border-radius: 9px;
      position: relative; 
      margin-top: 100px;
      margin-bottom: 100px;
      opacity: 0.4;
      @include tablets{
        margin: 50px 0;
        opacity: 1;
     }
      
		}

		&__header {
      position: absolute;
      
      
     
      
		}

		&__header--img {
      
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%) ;

     
    	}

		&__content {
      
      padding: 60px 44px 20px 44px;
      text-align: center;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
		}

		&__text {
		}

		&__line {
      border: none;
      height: 2px;
      width: 140px;
      margin: 5% 30%;
      background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);


		}

		&__autor {
      font-style: normal;
      font-weight: 300;
      font-size: 13px;
      line-height: 15px;
      text-align: center;
		}
}

.swiper-slide-active{
  opacity: 1;
}
